.footer {
    width: 100%;
    background-color: rgb(129, 172, 229);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    bottom: 0;
    position: bottom;
  }
  
  .footer-content {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .footer-content a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 7px;
    font-size: 25px;
  }
  
  .footer-content a:hover {
    background-color: white;
    padding: 7px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
  